@import "tailwindcss";
@theme {
  --color-primary: #043873;
  --color-secondary:#4F9CF9;
  --color-third:#212529;
  --font-primary: "Inter", sans-serif;
  --font-secondary: "DM Sans", sans-serif;
  --breakpoint-xm:600px;
  }

